<!doctype html>
<html lang="ru" ng-app>
  <head>
    <title>Пример чата</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <script>
      function ChatController($scope) {
        var socket = io.connect();

        $scope.messages = [];
        $scope.roster = [];
        $scope.name = '';
        $scope.text = '';

        socket.on('connect', function () {
          $scope.setName();
        });

        socket.on('message', function (msg) {
          $scope.messages.push(msg);
          $scope.$apply();
        });

        socket.on('roster', function (names) {
          $scope.roster = names;
          $scope.$apply();
        });

        $scope.send = function send() {
          console.log('Sending message:', $scope.text);
          socket.emit('message', $scope.text);
          $scope.text = '';
        };

        $scope.setName = function setName() {
          socket.emit('identify', $scope.name);
        };
      }
    </script>
  </head>
  <body>
    <div class="container" ng-controller="ChatController">
      <div class="page-header">
        <h1>Пример чата</h1>
      </div>
      <div class="row">
        <div class="col s3">
          <ul class="nav nav-list well">
            <li class="nav-header">Пользователи</li>
            <li ng-repeat="user in roster" ng-bind="user">
            </li>
          </ul>
        </div>
        <div class="col s9">
          <table class="table hoverable">
            <thead>
              <tr>
                <div class="row">
                <th>Имя</th>
                <th>Текст</th>
                </div>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="msg in messages">
                <td ng-bind="msg.name"></td>
                <td ng-bind="msg.text"></td>
              </tr>
            </tbody>
          </table>
          <div class="row controls">
            <form ng-submit="send()">
<div class="input-field col s2">
          <input id="icon_prefix" type="text" ng-model="name" ng-change="setName()" class="validate">
          <label for="icon_prefix">Name</label>
        </div>
<div class="input-field col s6">
          <input id="icon_telephone" type="text" ng-model="text" class="validate">
          <label for="icon_telephone">Message</label>
        </div>
        <div class="col s4 btn-sbm">
                <button class="btn waves-effect waves-light btn-sbm" type="submit" name="action" ng-disabled="!text">Отправить
</i>
  </button>
               
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/js/materialize.min.js"></script>
    <script src="/js/angular.min.js"></script>
  </body>
</html>
